{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% endblock %}
            {% block title_suffix %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" src="{% static 'images/favicon.ico' %}">

    </head>

    <body class="{% block body_class %}{% endblock %}">
    <!--Navbar-->
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="bi me-2" width="200"  role="img" src="{% static 'images/hero.png' %}">
                
              </a>
        
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/projects/" class="nav-link px-2 link-dark">Projecten</a></li>
                <li><a href="/organisations/" class="nav-link px-2 link-dark">Organisaties</a></li>
              </ul>
        
              <div class="col-md-3 text-end">
                <a href="/contact/" role="button" class="btn btn-outline-primary me-2">Contact</a>
                <a href="https://eu-citizen.science/" role="button" class="btn btn-primary me-2">EU Citizen Science</a>
                
              </div>
            </header>
          </div>
    <!--The site content will be loaded in here-->
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    <!--Footer-->
        <div class="container">
            
          
          <div class="b-example-divider"></div>
          
          <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="/projects/" class="nav-link px-2 text-muted">Projecten</a></li>
                <li class="nav-item"><a href="/organisations/" class="nav-link px-2 text-muted">Organisaties</a></li>
                <li class="nav-item"><a href="/contact/" class="nav-link px-2 text-muted">Contact</a></li>
                <li class="nav-item"><a href="/admin/" class="nav-link px-2 text-muted">admin</a></li>
              </ul>
              <p class="text-center text-muted">&copy; 2023 Citizen Science Nederland</p>
            </footer>
          </div>
          
          </div>
          
          <div class="b-example-divider"></div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
