{% extends "base.html" %}


{% block body_class %}home_page{% endblock %}

{% block content %}
    <h1>TITLE</h1>
    TEXT BODY

    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for result in page.get_projects %}
              <div class="col">
                <div class="card shadow-sm h-100">
                  <img class="card-img-top" src="{{result.image1}}" alt="Card image cap">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{result.name}}</h5>
                    <p class="card-text">{{result.aim|truncatechars:150}}</p>
                    <a href="{{result.url}}" class="mt-auto btn btn-primary">Visit {{result.name}}</a>
                    <div class="d-flex justify-content-between align-items-center">
                      
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
    
          </div>
        </div>
      </div>
    


{% endblock %}
